@import url('https://fonts.googleapis.com/css2?family=Cormorant&family=Kolker+Brush&family=Lato:wght@300;400;700&family=Manrope&family=Playfair+Display&family=Poppins&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: "Poppins";
}

header{
    background-image: linear-gradient(rgba(0,0,0,0.74), rgba(0,0,0,0.44)), url("../images/bg.jpg") ;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: auto;
    width: 100%;
    top: 0;
}

.navbar{
    display: flex;
    height: 70px;
    align-items: center;
    justify-content: space-evenly;
    width: 93%;
    margin-left: 4%;
    color: white;
    font-size: 14px;
}

.logo{
    width: 8%;
    cursor: pointer;
}

.left{
    width: 59%;
    margin-left: 20px;
}

.left ul a{
    margin-left: 10px;
    cursor: pointer;
}

.left ul a:hover{
    color: #d2d2d2;
}

.right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 33%;
    cursor: pointer;
}

.right p{
    margin-left: 15px;
}

.profile{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 70px;
    margin-left: 5px;
}

.right i{
    font-size: 22px;
}

.profile img{
    width: 30px;
    border-radius: 3px;
}

.profile i{
    font-size: 17px;
}

.main{
    margin-left: 25px;
    margin-top:  100px;
    cursor: pointer;
}

.top{
    display: flex;
    align-items: center;
}

.top p{
    color: #d2d2d2;
    font-size: 12px;
}

.top img{
    width: 20px;
}

.bottom{
    color: white;
    margin-top: 8px;
}

.bottom h1{
    font-family: "Cormorant";
    font-size: 50px;
}

.bottom h5{
    font-size: 16px;
    margin-top: 5px;
    font-weight: bold;
}

.bottom p{
    font-size: 12px;
    margin-top: 5px;
    width: 35%;
}

.buttons{
    margin-top: 70px;
    padding-bottom: 70px;
}

.buttons .btn-1{
    padding: 0.5rem 2.4rem 0.5rem 2rem;
    text-align: center;
    background-color: white;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-right: 10px;
}

.buttons .btn-2{
    padding: 0.5rem 2.4rem 0.5rem 2rem;
    text-align: center;
    background-color: rgba(109, 109, 110, 0.7);
    color: white;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}